.page {
  margin-top: 55px;
  margin-bottom: 30px;
}

.logo {
  width: 142px;
  height: 26px;
  display: block;
  margin-bottom: -24px;
  cursor: pointer;
}

.tabs button[role="tab"] {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #42526e;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #42526e;
  padding-left: 15px;
  padding-right: 15px;
}

.tabs button[role="tab"][aria-selected="true"] {
  color: #0052cc;
  border-bottom: 1px solid #0052cc;
}

.tabs div[role="tablist"] {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 72px;
}
