.container {
  padding: 27px 20px;
  display: flex;
  cursor: pointer;
}

.name {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #172b4d;
  margin-left: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}
