.container {
  /*padding: 20px;*/
}

.items {
  position: relative;
  margin-top: 30px;
  height: 90px;
}

.item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: skewY(2deg);
}

.item:hover {
  z-index: 5;
}

.item:nth-child(1) {
  transform: skewY(8deg);
}
.item:nth-child(2) {
  transform: skewY(4deg);
}
.item:nth-child(3) {

}
.item:nth-child(4) {
  transform: skewY(-4deg);
}
.item:nth-child(5) {
  transform: skewY(-8deg);
}
.item:nth-child(6) {
  transform: skewY(-2deg);
}
.item:nth-child(7) {
  transform: skewY(-4deg);
}
.item:nth-child(8) {
  transform: skewY(-6deg);
}
.item:nth-child(9) {
  transform: skewY(-8deg);
}

