.container {

}

.item {

}

.item:not(:first-child) {
  margin-top: 10px;
}

.button {
  font-size: 14px;
  line-height: 1.71;
  color: #0052cc;
  border-radius: 3px;
  background-color: #deebff;
  border: 0;
  width: 100%;
  padding: 20px 0;
  margin-top: 15px;
  cursor: pointer;
}
