.container {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(50% - 10px);
  margin-top: 0;
}

.item:nth-child(odd) {
  margin-right: 5px;
}

.item:nth-child(even) {
  margin-left: 5px;
}

.item:nth-child(n+3) {
  margin-top: 10px;
}
