.container {
  padding: 20px;
  display: flex;
}

.info {
  margin-left: 20px;
}

.name {
  font-size: 20px;
  line-height: 1.2;
  color: #172b4d;
}

.role {
  font-size: 16px;
  line-height: 1.13;
  color: #7f8b96;
}
