.container {
  padding: 15px;
  display: flex;
  position: relative;
}

.task-name {
  font-size: 20px;
  line-height: 1.2;
  color: #172b4d;
  margin-left: 20px;
}

.lozenge {
  position: absolute;
  top: 0;
  right: 10px;
}

.info {
  margin-left: 15px;
  flex-grow: 1;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  color: #172b4d;
}

.name {
  font-size: 16px;
  line-height: 1.13;
  color: #7f8b96;
}

.button {
  font-size: 14px;
  line-height: 1.71;
  color: #0052cc;
  border-radius: 3px;
  background-color: #deebff;
  border: 0;
  padding: 5px 15px;
  cursor: pointer;
  align-self: center;
}
