.container {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(100% - 10px);
  margin-top: 0;
}

.item:nth-child(n+1) {
  margin-top: 10px;
}
