.container {
  display: flex;
  padding: 14px 20px;
  align-items: center;
}

.info {
  margin-left: 10px;
}

.name {
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: normal;
  color: #172b4d;
}

.status {
  font-size: 18px;
  line-height: 1.2;
  color: #8b8b8b;
  margin-top: 10px;
}

.points {
  font-size: 16px;
  line-height: 1.2;
  color: #8b8b8b;
  margin-top: 15px;
}
