.container {
  padding: 15px;
  display: flex;
  position: relative;
}

.task-name {
  font-size: 20px;
  line-height: 1.2;
  color: #172b4d;
  margin-left: 20px;
}

.lozenge {
  position: absolute;
  top: 10px;
  right: 10px;
}
